@model List<MVCCIMotorsForms.Models.StaffClass>
@{
    ViewBag.Title = "CustomerOrder";
}

<h2>CustomerOrder</h2>

<table class="table table-bordered table-striped">

    <tr>
        <td>Customer Id</td>
        <th>LastName</th>
        <th>SalesOrderId</th>
        <th>OrderNumber</th>
    </tr>
    @foreach( var co in Model)
    {
        <tr>
            <td>@co.StaffId</td>
            <td>@co.LastName</td>
            <td>@co.SalesOrderId</td>
            <td>@co.OrderNumber</td>

        </tr>
    }
</table>
